# Remove mac metadata
.DS_Store

# Ignore Makefile 
Makefile

# Ignore CMakeFiles
/CMakeFiles/*

# Ignore builds
/Build/*

# Ignore .vscode
/.vscode/

# Ignore CMakeCache
CMakeCache.txt

# Ignore cmake_install.make
cmake_install.cmake

# Ignore the radiance_map data text file as it is too large
radiance_map_data.txt